/* Small devices */
@media only screen and (max-width: 600px) {
  footer {
    line-height: 10vh; }
  p {
    font-weight: lighter;
    font-size: 1em;
    padding: 0.5em 0.5em 0 2em; }
  p.neighborhood-type {
    font-size: 0.75em; }
  #breadcrumb > a {
    letter-spacing: 4px; }
  #main-title {
    font-size: 2.5rem;
    line-height: 15vh;
    margin-bottom: 1em; }
  #map {
    height: 40vh; }
  #map-and-hours-container {
    display: contents; }
  #restaurant-hours, #map-container {
    width: 100%; }
  .more-restaurant-details {
    letter-spacing: 5px;
    font-size: 1em; }
  #neighborhoods-select, #cuisines-select {
    width: 90vw;
    margin: 1em; }
  #restaurants-list {
    margin-bottom: 3em; }
  .filter-options {
    margin-bottom: 1.5em; }
  #comments {
    padding: 1em 2em; } }

/* Tablets sizes*/
@media only screen and (min-width: 600px) {
  p {
    padding: 0.5em 0.5em 0 2em; }
  p.neighborhood-type {
    font-size: 0.75em;
    font-weight: 100; }
  #restaurant-container > #restaurant-name {
    font-size: 3em; }
  #restaurant-address {
    padding: 0 0 0 3em; }
  #main-title {
    margin-top: 3em;
    font-size: 3em !important; }
  #main-title > a {
    font-size: 3em; }
  #map {
    height: 40vh; }
  #map-container {
    width: 100%; }
  .more-restaurant-details {
    letter-spacing: 5px; }
  #neighborhoods-select, #cuisines-select {
    width: 45vw;
    margin: 3em 0.5em; }
  #cover-image > #restaurant-img {
    margin: -20vh 0; }
  #comments {
    padding: 1em 2em; } }

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  p {
    padding: 1em 2em;
    font-size: 1em; }
  ul#restaurants-list {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2; }
  ul#reviews-list {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2; }
  #map-and-hours-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  #restaurant-container > #restaurant-name {
    font-size: 3em; }
  #main-title {
    font-size: 4em; }
  #map {
    height: 60vh; }
  .more-restaurant-details {
    font-size: 0.75em;
    padding: 2em 0; }
  #map-container {
    width: 100%; }
  #restaurant-hours {
    font-size: 1em;
    width: 50%; }
  #cover-image > #restaurant-img {
    margin: -20vh 0; } }

/* Medium Devices, Desktops, and beyond */
@media only screen and (min-width: 992px) {
  h1 {
    font-size: 2em;
    padding: 0 0.75em; }
  #neighborhoods-select, #cuisines-select {
    width: 42vw; }
  #comments {
    padding-top: 0; }
  ul#restaurant-list {
    columns: 3;
    -webkit-columns: 3;
    -moz-columns: 3; }
  .columns {
    float: left;
    position: relative; }
  ul#reviews-list {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2; } }

/*********** GLOBAL CSS ***********/
body, td, th, p {
  font-family: "Source Sans Pro", sans-serif;
  text-align: center; }

body {
  background-color: #f7f7f7; }

footer {
  text-transform: uppercase;
  font-weight: lighter;
  width: 100%;
  height: 20vh;
  text-align: center;
  letter-spacing: 2px;
  margin-top: 2em;
  font-size: 0.75em; }

h1 {
  margin-bottom: 0;
  font-family: "Playfair Display", serif;
  color: #fbab7e;
  font-size: 2.5em;
  font-weight: lighter; }

h2 {
  margin-bottom: 0;
  text-align: left; }

h2, h3 {
  font-family: "Playfair Display", serif;
  color: #000;
  font-size: 2em;
  font-weight: lighter;
  padding: 0 0 0 1em;
  margin: 0; }

img, embed, object, video {
  max-width: 100vw; }

img, li {
  width: 100%; }

li {
  background-color: #fff;
  -webkit-box-shadow: 5px 5px 8px 0 rgba(46, 61, 73, 0.2);
          box-shadow: 5px 5px 8px 0 rgba(46, 61, 73, 0.2);
  display: inline-block;
  margin: 0 0 1.75rem; }

nav {
  padding: 1em; }

.neighborhood-type {
  text-transform: uppercase;
  margin: 0;
  letter-spacing: 2px;
  font-weight: bold;
  padding: 1em 0 0.5em 3em;
  color: #fbab7e;
  font-size: 0.75em; }

/* container for image and text */
.restaurant-name {
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  margin-top: 0; }

p {
  letter-spacing: 2px;
  margin: 0;
  color: #656666;
  text-align: left; }

p#restaurant-cuisine {
  font-size: 0.75em;
  text-transform: uppercase;
  color: #fbab7e;
  padding-left: 3em;
  text-align: center; }

ul#restaurants-list {
  list-style-type: none;
  padding: 0;
  width: 90vw;
  margin: 0 auto;
  columns: 3;
  -webkit-columns: 3;
  -moz-columns: 3; }

#reviews-title {
  padding-top: 1em;
  font-size: 3em; }

#breadcrumb > a {
  color: #af8c8c;
  text-decoration: none;
  text-transform: uppercase;
  text-align: left;
  min-height: 48px;
  min-width: 48px; }

#favorite-button {
  font-size: 2em;
  border-color: transparent;
  background: transparent;
  color: #656666; }

#favorite-button:hover {
  color: #fbab7e; }

#main-title > a {
  color: #fbab7e;
  text-decoration: none;
  font-size: 3rem; }

#main-title > a:hover {
  color: #e6834a; }

#breadcrumb {
  text-align: left; }

#comments {
  letter-spacing: 1px; }

#neighborhoods-select, #cuisines-select {
  -webkit-appearance: none !important;
  background-color: white;
  padding: 1em;
  font-size: 1em;
  border-radius: 50px;
  -webkit-box-shadow: 0 15px 36px rgba(0, 0, 0, 0.1);
          box-shadow: 0 15px 36px rgba(0, 0, 0, 0.1);
  border: 0;
  letter-spacing: 5px; }

#main-title {
  text-align: center;
  display: inline;
  vertical-align: center;
  font-family: "Playfair Display", serif;
  color: #fbab7e; }

#review-form {
  text-align: left; }

.more-restaurant-details {
  background: linear-gradient(62deg, #fbab7e, #f7ce68);
  width: 100%;
  border: 0;
  color: #fff;
  display: block;
  padding: 1.5em 0;
  text-decoration: none;
  text-transform: uppercase;
  margin-top: 1em; }

.more-restaurant-details:focus {
  background-color: #004c40; }

#map {
  width: 100%;
  background-color: #ccc;
  -webkit-box-shadow: 0 15px 36px rgba(0, 0, 0, 0.1);
          box-shadow: 0 15px 36px rgba(0, 0, 0, 0.1); }

#cover-image > #restaurant-img {
  -webkit-box-shadow: 5px 5px 8px 0 rgba(46, 61, 73, 0.2);
          box-shadow: 5px 5px 8px 0 rgba(46, 61, 73, 0.2);
  display: block;
  width: 100%; }

#cover-image {
  width: 100%;
  overflow: hidden;
  margin: 0; }

#restaurant-address {
  text-align: center; }

#restaurant-container > #restaurant-name {
  font-family: "Playfair Display", serif;
  font-weight: 100;
  letter-spacing: 2px;
  color: #000;
  text-align: center;
  padding-top: 0.5em 0.5em 0 0.5em;
  display: inline-block; }

#restaurant-hours {
  color: #656666;
  padding: 1em 2em;
  margin: 0 auto 0 auto; }

#map-container-restaurant {
  width: 70%;
  float: right;
  background: #252831 none repeat scroll 0 0;
  height: 87%;
  position: relative;
  right: 0; }

#map-and-hours-container {
  margin-top: 1em; }

#reviews-list {
  font-size: 1em;
  padding-left: 0; }

#create-review-form {
  display: inline-block;
  margin: 0.75em 1em;
  width: 50%;
  padding: 1em;
  background: linear-gradient(62deg, #fbab7e, #f7ce68);
  border-radius: 10px;
  -webkit-box-shadow: 5px 5px 8px 0 rgba(46, 61, 73, 0.2);
          box-shadow: 5px 5px 8px 0 rgba(46, 61, 73, 0.2); }
  #create-review-form #review-form {
    padding: 0.5em 1em; }
  #create-review-form #review-name {
    padding: 1em;
    border-radius: 8px;
    width: 95%;
    border: 0;
    font-size: 0.8em; }
  #create-review-form #review-comment {
    border-radius: 8px;
    padding: 1em;
    border: 0;
    width: 95%;
    font-size: 0.8em;
    display: initial; }
  #create-review-form #review-rating {
    border-radius: 8px;
    padding: 1em;
    border: 0;
    width: 100%;
    font-size: 0.8em;
    background: #fff; }
  #create-review-form #write-review-title {
    padding: 0.5em; }
  #create-review-form #review-submit {
    padding: 1em;
    border: 0;
    font-size: 1em;
    border-radius: 8px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 1em;
    font-family: "Playfair Display", serif;
    color: #fff;
    -webkit-box-shadow: 5px 5px 8px 0 rgba(46, 61, 73, 0.2);
            box-shadow: 5px 5px 8px 0 rgba(46, 61, 73, 0.2);
    background-color: #656666; }
  #create-review-form p {
    font-family: "Source Sans Pro", sans-serif;
    color: #000;
    padding: 1em 0; }
  #create-review-form #submit-div {
    display: grid; }

#review-list-item #reviewer-list-name {
  font-family: "Playfair Display", serif;
  font-size: 2em;
  padding: 0 1em 0;
  color: #000; }

#review-list-item #review-list-date {
  font-size: 0.75em;
  font-weight: 100;
  text-transform: uppercase;
  margin: 0;
  color: #fbab7e;
  padding: 2em 0 0.5em 3em; }

td {
  padding: 0.5em 1em;
  border-bottom: 1px solid #af8c8c; }

.columns {
  float: left;
  position: relative; }

.inside #map-container {
  background: #252831 none repeat scroll 0 0;
  height: 87%;
  position: relative;
  right: 0; }

.inside #map {
  background-color: #ccc;
  height: 30em; }
