 @charset "utf-8";

// colors
$color-light-grey: #f7f7f7;
$color-grey: #656666;
$color-orange: #fbab7e;
$color-white: #fff;
$color-black: #000;

// breakpoints
$break-small: 600px;
$break-medium: 768px;
$break-large: 992px;

// fonts
$font-fancy-title: 'Playfair Display', serif;
$font-normal-text: 'Source Sans Pro', sans-serif;


/* Small devices */
@media only screen and (max-width : $break-small) {
	footer {
		line-height: 10vh;
	}
	p {
		font-weight: lighter;
		font-size: 1em;
		padding: 0.5em 0.5em 0 2em;
	}
	p.neighborhood-type {
		font-size: 0.75em;
	}
	#breadcrumb > a {
		letter-spacing: 4px;
	}
	#main-title {
		font-size: 2.5rem;
		line-height: 15vh;
		margin-bottom: 1em;
	}
	#map {
		height: 40vh;
	}
	#map-and-hours-container {
		display: contents;
	}
	#restaurant-hours, #map-container {
		width: 100%;
	}

	.more-restaurant-details {
		letter-spacing: 5px;
		font-size: 1em;
	}
	#neighborhoods-select, #cuisines-select{
		width: 90vw;
		margin: 1em;
	}

	#restaurants-list {
		margin-bottom: 3em;
	}
	.filter-options {
		margin-bottom: 1.5em;
	}
}
/* Tablets sizes*/
@media only screen and (min-width : $break-small) {
	p {
		padding: 0.5em 0.5em 0 2em;
	}
	p.neighborhood-type {
		font-size: 0.75em;
		font-weight: 100;
	}

	#restaurant-container > #restaurant-name {
		font-size: 3em;
	}
	#restaurant-address {
		padding: 0 0 0 3em;
	}
	#main-title {
		margin-top: 3em;
		font-size: 3em !important;
	}
	#main-title > a {
		font-size: 3em;
	}
	#map {
		height: 40vh;
	}
	#map-container {
		width: 100%;
	}
	.more-restaurant-details {
		letter-spacing: 5px;
	}
	#neighborhoods-select, #cuisines-select{
		width: 45vw;
		margin: 3em 0.5em;
	}
	#cover-image > #restaurant-img {
		margin: -20vh 0;
	}


}

/* Small Devices, Tablets */
@media only screen and (min-width : $break-medium) {
	p {
		padding: 1em 2em;
		font-size: 1em;
	}
	ul#restaurants-list {
		columns: 2;
		-webkit-columns: 2;
		-moz-columns: 2;
	}
	#map-and-hours-container {
		display: flex;
	}
	#restaurant-container > #restaurant-name {
		font-size: 3em;
	}

	#main-title {
		font-size: 4em;
	}
	#map {
		height: 60vh;
	}
	.more-restaurant-details {
		font-size: 0.75em;
		padding: 2em 0;
	}
    #map-container {
		width: 70%;
	}
	#restaurant-hours {
		font-size: 1em;
		width: 50%;
	}
	#cover-image > #restaurant-img {
		margin: -30vh 0;
	}


}

/* Medium Devices, Desktops, and beyond */
@media only screen and (min-width : $break-large) {
	h1 {
		font-size: 2em;
		padding: 0 0.75em;
	}
	#neighborhoods-select, #cuisines-select{
		width: 42vw;
	}

	ul#restaurant-list {
		columns: 3;
		-webkit-columns: 3;
		-moz-columns: 3;
	}

	.columns {
		float: left;
		position: relative;
	}
}

/*********** GLOBAL CSS ***********/

body, td, th, p{
	font-family: $font-normal-text;
	text-align: center;
}
body {
	background-color: $color-light-grey;
}
footer {
	text-transform: uppercase;
	font-weight:lighter;
	width: 100%;
	height: 20vh;
	text-align: center;
	letter-spacing: 2px;
	margin-top: 2em;
	font-size: 0.75em;
}
h1 {
	margin-bottom: 0;
	font-family: $font-fancy-title;
	color: $color-orange;
	font-size: 2.5em;
	font-weight:lighter;
}
h2 {
	margin-bottom: 0;
	text-align: left;
}
h2, h3 {
	font-family: $font-fancy-title;
	color: $color-black;
	font-size: 2em;
	font-weight:lighter;
	padding: 0 0 0 1em;
	margin: 0;
}
img, embed, object, video {
	max-width: 100vw;
}
img, li {
	width: 100%;
}
li {
	background-color: $color-white;
	box-shadow: 5px 5px 8px 0 rgba(46,61,73, 0.2);
	display: inline-block;
	margin: 0 0 1.75rem;
}
.neighborhood-type {
	text-transform: uppercase;
	margin: 0;
	letter-spacing: 2px;
	font-weight: bold;
	padding: 1em 0 0.5em 3em;
	color: $color-orange;
	font-size: 0.75em;
}

/* container for image and text */

.restaurant-name{
	color: $color-white;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	margin-top: 0;
}

p {
	letter-spacing: 2px;
	margin: 0;
	color: $color-grey;
	text-align: left;
}
p#restaurant-cuisine {
	font-size: 0.75em;
	text-transform: uppercase;
	color: $color-orange;
	padding-left: 3em;
	text-align: center;
}
ul#restaurants-list {
	list-style-type: none;
	padding: 0;
	width: 90vw;
	margin: 0 auto;
}
#breadcrumb > a {
	color: #af8c8c;
	text-decoration: none;
	text-transform: uppercase;
	text-align: left;
	min-height: 48px;
	min-width: 48px;
}
#favorite-button {
	font-size: 2em;
	border-color: transparent;
	background: transparent;
	color: $color-grey;
}
#favorite-button:hover {
	color: $color-orange;
}

#main-title > a {
	color: $color-orange;
	text-decoration: none;
	font-size: 3rem;
}
#main-title > a:hover {
	color: #e6834a;
}
#breadcrumb {
	text-align: left;
}
#comments {
	letter-spacing: 1px;
}
#neighborhoods-select,  #cuisines-select{
	-webkit-appearance:none !important;
	background-color: white;
	padding: 1em;
	font-size: 1em;
	border-radius: 50px;
	box-shadow: 0 15px 36px rgba(0, 0, 0, 0.1);
	border: 0;
	letter-spacing: 5px;
}

#main-title {
	text-align: center;
	display: inline;
	vertical-align: center;
	font-family: $font-fancy-title;
	color: $color-orange;
}
#review-form {
	text-align: left;
}
.more-restaurant-details {
	background: linear-gradient(62deg, $color-orange, #f7ce68);
	width: 100%;
	border: 0;
	color: $color-white;
	display: block;
	padding: 1.5em 0;
	text-decoration: none;
	text-transform: uppercase;
	margin-top: 1em;
}
.more-restaurant-details:focus {
	background-color: #004c40;
}
#map-container {
	float: right;
}
#map {
	width: 100%;
	background-color: #ccc;
	box-shadow: 0 15px 36px rgba(0, 0, 0, 0.1);
}
#cover-image > #restaurant-img {
	box-shadow: 5px 5px 8px 0 rgba(46,61,73, 0.2);
	display:block;
	width: 100%;
}
#cover-image {
	width: 100%;
	overflow: hidden;
	margin: 0;
}
#restaurant-address {
	text-align: center;
}
#restaurant-container > #restaurant-name {
	font-family: $font-fancy-title;
	font-weight:100;
	letter-spacing: 2px;
	color: $color-black;
	text-align: center;
	padding-top: 0.5em 0.5em 0 0.5em;
    display: inline-block;
}
#restaurant-hours {
	color: $color-grey;
	padding: 0 2em;
    margin: 0 auto 0 auto;
}
#map-and-hours-container {
	margin-top: 1em;
}
ul#reviews-list {
	columns: 1;
	-webkit-columns: 1;
	-moz-columns: 1;
	font-size: 1em;
}
td {
	padding: 0.5em 2em;
	border-bottom: 1px solid #af8c8c;
}
.columns {
	float: left;
	position: relative;
}
.inside #map-container {
	background: #252831 none repeat scroll 0 0;
	height: 87%;
	position: relative;
	right: 0;
}
.inside #map {
	background-color: #ccc;
	height: 30em;
}
